body {
    margin: 0;
    padding: 0;
    /*background-color: #FAFAFA;*/
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@page {
    size: A4;
    margin: .1cm;
}

@media print {

body {
border:1px solid black;
}

  div.page-header {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    height: 90px;
    font-size: 15px;
    opacity: 0.5;
    break-after: always;
  }
  div.page-footer {
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #fff;
    background: red;
    opacity: 0.5;
    break-before: always;
  }

    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: .2cm;
        margin: 0;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        page-break-after: always;
    }

    .subpage {
        padding: .4cm;
        border: 5px red solid;
        height: 227mm;
        outline: 2cm #FFEAEA solid;
    }
}